@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
  /* font-size: 16px; */
  background: #bfd7e4;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  background: #0a3740;
  z-index: -1;
}

.container {
  width: 600px;
  margin: 130px auto 0;
}

nav {
  width: 600px;
  top: 50px;
  display: flex;
  position: absolute;
  justify-content: flex-end;
}

ul {
  list-style: none;
}

li {
  width: 300px;
  height: 50px;
  background: #2395c2;
  border-radius: 10px 10px;
  padding: 8px;
}

li a {
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: #2395c2;
  border-radius: 20px 20px 0px 0px;
  gap: 30px;
}

.headerForm h1 {
  font-family: "Staatliches";
  font-weight: 400;
  line-height: 34px;
  color: white;
  text-transform: uppercase;
}

.logo {
  width: 12%;
}

form,
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 62px;
  background: white;
  border-radius: 0 0 20px 20px;
}

fieldset {
  border: none;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputWrapper input,
.inputWrapper textarea,
.inputWrapper select {
  height: 52px;
  padding: 12px;
  font-size: 16px;
  line-height: 26px;
  color: #737177;
  background: #fafafc;
  border: 1px solid #e6e6f0;
  border-radius: 8px;
}

.inputWrapper label {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4e4958;
  margin: 8px 0;
}

.inputWrapper select {
  width: 230px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px center;
}

.inputWrapper textarea {
  height: 120px;
  padding: 15px;
  resize: none;
}

.col-2 {
  display: flex;
  gap: 20px;
}

.btnform {
  width: 100%;
  border: none;
  border-radius: 8px;
  font-family: "Staatliches";
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 auto 34px;
  padding: 15px 40px;
  background: #2395c2;
  cursor: pointer;
}
